---
import { useSanityClient } from "@sanity/astro";
import PortableText from "../../components/PortableText.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const posts = await useSanityClient().fetch(`*[_type == "post"]`);

  return posts.map((post: any) => {
    return {
      params: {
        slug: post.slug?.current || "",
      },
      props: { ...post },
    };
  });
}

const { title, body } = Astro.props;
---

<BaseLayout>
  <h1>{title}</h1>
  <PortableText portableText={body} />
</BaseLayout>
