---
import { useSanityClient } from "@sanity/astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import type { Post } from "../../../studio/schemas/types";

const posts = await useSanityClient().fetch<Array<Post>>(`*[_type == "post"]`);
---

<BaseLayout
  title="Home Page"
  metaDescription="Join Ruby and Ted on Coasting Along as they explore Australia from coast to coaster. Discover travel adventures, remote work tips, surfing spots, and mouth-watering food experiences."
>
  <h1>Coasting Along</h1>
  {
    posts && (
      <ul>
        {posts.map((post) => (
          <li>
            <a
              href={`post/${post.slug.current}`}
              style="min-height: 48px; min-width: 48px;"
            >
              {post.title}
            </a>
          </li>
        ))}
      </ul>
    )
  }
</BaseLayout>
